/* start desgin product page  */
.style-h1 {
  width: 130px;
  height: 50px;
  text-align: center;
  border: 2px solid #d4be66;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: #ffcc00;
  cursor: pointer;
  transition: var(--transition);
  background-color: #808080;
  overflow: hidden;
}
.style-h1 a {
  color: #ffcc00 !important;
}
.style-h1:hover {
  background-color: #a6adb3 !important;
  border: 2px solid #d4be66;
}
.landing {
  width: 100%;
  margin-top: 100px;
}
.landing .contanier {
  width: calc(100% - 60px);
}
.landing .contanier .box .activ {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  position: relative;
}
.landing .contanier .box .activ .allbox {
  min-height: 290px;
  width: 100%;
  position: relative;
  height: 290px;
  min-width: 100%;
  cursor: pointer;
  margin: 5px 0px;
  box-shadow: 4px 4px 10px 0px #00000061;
  -webkit-box-shadow: 4px 4px 10px 0px #00000061;
  -moz-box-shadow: 4px 4px 10px 0px #00000061;
  border: 1px solid dodgerblue;
  overflow: hidden;
}
.landing .contanier .box .notactiv {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  position: relative;
}
.landing .contanier .box .notactiv .allbox {
  min-height: 290px;
  width: 100%;
  position: relative;
  height: 290px;
  min-width: 100%;
  cursor: pointer;
  margin: 5px 0px;
  box-shadow: 4px 4px 10px 0px #00000061;
  -webkit-box-shadow: 4px 4px 10px 0px #00000061;
  -moz-box-shadow: 4px 4px 10px 0px #00000061;
  border: 1px solid dodgerblue;
  overflow: hidden;
}

.allbox:hover {
  box-shadow: 4px 4px 10px 0px #00000061 !important;
  -webkit-box-shadow: 4px 4px 10px 0px #00000061 !important;
  -moz-box-shadow: 4px 4px 10px 0px #00000061 !important;
  border: 1px solid #00bcd4 !important;
}

.allbox div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000045;
  z-index: 1;
  transition: var(--transition2);
}
.allbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff0f;
  z-index: 9;
}
.allbox:hover::before {
  animation-name: flash;
  animation-duration: 0.4s;
  animation-timing-function: 1;
  animation-fill-mode: backwards;
}
.allbox:hover div {
  opacity: 0;
}
/* start anmiction .allbox div */
@keyframes flash {
  0% {
    width: 20%;
    height: 20%;
  }
  25% {
    width: 70%;
    height: 70%;
    opacity: 1;
  }
  50% {
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  75% {
    width: 180%;
    height: 180%;
    opacity: 0.5;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.allbox img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  transition: var(--transition2);
}
.allbox:hover img {
  transform: scale(1.1);
}
.allbox h2 a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 85%;
  height: 25%;
  margin: 0px 7.5%;
  justify-content: center;
  font-size: 50px;
  z-index: 10;
  border: 2px solid;
  color: #ffffff;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(45deg, black, transparent, transparent, black);
  transition: var(--transition2);
  box-shadow: 0px 0px 4px white;
  -webkit-box-shadow: 0px 0px 4px white;
  -moz-box-shadow: 0px 0px 4px white;
  /* #7d3c98 */
}
.allbox:hover h2 a {
  background: linear-gradient(45deg, black, transparent, transparent, black);
  color: #00bcd4;
  background-color: #808080;
}
/* start desgin botn tow  */
.butn-tow a {
  text-align: center;
  margin: 15px;
  position: relative;
  top: 40px;
}
.butn-tow a:first-child {
  margin: 10px;
}
/* .butn-tow :last-child {
  margin: 10px;
} */

/* End desgin product  */
